.main{
    background-color: lightgrey;
    margin: auto;
    width: 95%;

}
#body{
    background-color: lightgrey;
    width: 40%;
    margin: auto;
}
.table{
    padding: 4px;
    border-color: gray;
    background: url(/pics/grass.jpg) repeat;
    background-size: 100px 100px;
}
.icon_img{
    width: 50px;
    vertical-align: middle;
}
td{
    padding: 10px;
    width: 100px;
    text-align: center;
    height: 100px;
    border: 1px solid black;
    background-color: transparent;
    background:url(pics/grass.jpg) ;
}
.loser_bomb{
    position:absolute;
    width: 1000px;
    left: 25%;
    top:15%;
    mix-blend-mode:multiply;
}
#userIn{
    width: 100%;
}
#NumOfCoins{
    font-weight: bold;
    width: 100%;
    font-size: 20px;
}