.main{
    background-color: lightgrey;
    margin: auto;
    width: 95%;

}
#body{
    background-color: lightgrey;
    width: 40%;
    margin: auto;
}
.table{
    padding: 4px;
    border-color: gray;
}
td{
    padding: 10px;
    width: 5%;
    text-align: center;
    height: 100px;
}